name: CI

on:
  pull_request:
  push:

jobs:
  black:
    name: Run Black
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.12.3
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.3'
      - name: Black Check
        uses: jpetrucciani/black-check@24.10.0

  ruff:
    runs-on: ubuntu-latest
    name: Ruff Check
    steps:
      - name: Set up Python 3.12.3
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.3'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Ruff
        uses: wearerequired/lint-action@v2
